{
  "root": true,
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "node": true,
    "jest": true
  },
  "plugins": [
    "jest"
  ],
  "extends": ["eslint:recommended", "eslint-config-prettier"],
  "rules": {
    "no-console": "off"
  }
}
